In [102]:
# import visualization packages
from polygon import RESTClient
import plotly.graph_objects as go
from plotly.offline import plot
import plotly.express as px

# import pandas and datetime
import pandas_market_calendars as mcal
import pandas as pd
import datetime as dt

# import API_KEY from config
from config import *

In [103]:
client = RESTClient(API_KEY)

In [240]:
ticker = 'AAPL'
earnings_date = '2022-10-27'
expiration_date = '2022-11-04'

In [105]:
# get the date that is 30 days before expiration
start_date = (pd.to_datetime(earnings_date) - dt.timedelta(days=30)).date().strftime('%Y-%m-%d')

In [106]:
# create a dataframe of contracts available as of the date specified in 'contracts_as_of'
contract_names = []
for c in client.list_options_contracts(ticker, limit=1000, as_of=start_date):
    contract_names.append(c)

df = []
for c in contract_names:
    df.append({
        'expiration date': c.expiration_date,
        'type': c.contract_type,
        'strike price': c.strike_price,
        'option ticker': c.ticker
    })
    
df = pd.DataFrame(df)
df['expiration date'] = pd.to_datetime(df['expiration date'])

In [118]:
# get the price of the underlying
underlying = client.get_aggs(ticker=ticker, from_=start_date, to=earnings_date, multiplier=1, timespan='day')
underlying = pd.DataFrame(underlying)
underlying['date'] = pd.to_datetime(underlying['timestamp'] * 1000000)

In [258]:
expiration_mask = df['expiration date'] == expiration_date
call_mask = df['type'] == 'call'
put_mask = df['type'] == 'put'
min_value_mask = round(abs(df[expiration_mask & call_mask]['strike price'] - underlying['close'].iloc[0]).min(), 2)

In [255]:
stock_price = underlying['close'].iloc[0]
df.iloc[abs(df[expiration_mask]['strike price'] - stock_price).sort_values().head(2).index]

    expiration date  type  strike price          option ticker
649      2022-11-04  call         152.5  O:AAPL221104C00152500
702      2022-11-04   put         152.5  O:AAPL221104P00152500

In [271]:
call = df.iloc[abs(df[expiration_mask & call_mask]['strike price'] - stock_price).sort_values().head(1).index]
put = df.iloc[abs(df[expiration_mask & put_mask]['strike price'] - stock_price).sort_values().head(1).index]

In [283]:
def get_net_pnl(call_df, put_df):
    call = client.get_aggs(
        ticker = call_df['option ticker'].iloc[0],
        limit=50000,
        multiplier = 1, 
        timespan = 'day', 
        from_ = start_date, 
        to = earnings_date)
    put = client.get_aggs(
        ticker = put_df['option ticker'].iloc[0],
        limit=50000,
        multiplier = 1, 
        timespan = 'day', 
        from_ = start_date, 
        to = earnings_date)
    call = pd.DataFrame(call)
    call['date'] = pd.to_datetime(call['timestamp'] * 1000000)

    put = pd.DataFrame(put)
    put['date'] = pd.to_datetime(put['timestamp'] * 1000000)
    
    net_df = pd.DataFrame()
    net_df['close'] = call['close'] + put['close']
    net_df['date'] = call['date']
    net_df['percent pnl'] = (net_df['close'] - net_df['close'].iloc[0]) / net_df['close'].iloc[0]
    return net_df

In [284]:
net_df = get_net_pnl(call, put)

In [285]:
net_df

    close                date  percent pnl
0   15.97 2022-09-27 04:00:00     0.000000
1   15.33 2022-09-28 04:00:00    -0.040075
2   17.43 2022-09-29 04:00:00     0.091421
3   17.09 2022-09-30 04:00:00     0.070131
4   14.90 2022-10-03 04:00:00    -0.067001
5   14.05 2022-10-04 04:00:00    -0.120225
6   15.40 2022-10-05 04:00:00    -0.035692
7   13.82 2022-10-06 04:00:00    -0.134627
8   15.97 2022-10-07 04:00:00     0.000000
9   15.62 2022-10-10 04:00:00    -0.021916
10  16.53 2022-10-11 04:00:00     0.035066
11  17.20 2022-10-12 04:00:00     0.077019
12  16.60 2022-10-13 04:00:00     0.039449
13  16.53 2022-10-14 04:00:00     0.035066
14  13.55 2022-10-17 04:00:00    -0.151534
15  14.14 2022-10-18 04:00:00    -0.114590
16  12.71 2022-10-19 04:00:00    -0.204133
17  12.54 2022-10-20 04:00:00    -0.214778
18  10.44 2022-10-21 04:00:00    -0.346274
19   9.85 2022-10-24 04:00:00    -0.383219
20   9.17 2022-10-25 04:00:00    -0.425798
21   9.60 2022-10-26 04:00:00    -0.398873
22  11.68 2022-10-27 04:00:00    -0.268629

# Find valid trading dates

In [296]:
nyse = mcal.get_calendar('NYSE')

In [99]:
valid_dates = nyse.valid_days(start_date=start_date, end_date=earnings_date)
valid_dates = [date.date().strftime('%Y-%m-%d') for date in valid_dates]

In [289]:
valid_dates

['2022-09-27',
 '2022-09-28',
 '2022-09-29',
 '2022-09-30',
 '2022-10-03',
 '2022-10-04',
 '2022-10-05',
 '2022-10-06',
 '2022-10-07',
 '2022-10-10',
 '2022-10-11',
 '2022-10-12',
 '2022-10-13',
 '2022-10-14',
 '2022-10-17',
 '2022-10-18',
 '2022-10-19',
 '2022-10-20',
 '2022-10-21',
 '2022-10-24',
 '2022-10-25',
 '2022-10-26',
 '2022-10-27']